{
    "author_name": "{{ author_name }}",
    "git_email": "{{ git_email }}",
    "gitlab_remote_location": "{{ gitlab_remote_location }}",
    "repo_name":  "{{ repo_name }}",
    "package_name": "{{ package_name }}",
    "cloud_service": "{{ cloud_service }}",
    "project_id": "{{ project_id }}",
    "region": "{{ region }}",
    "docker_repo": "{{ docker_repo }}"
}
