env_vars= [
        {
            "name": "MODEL_PATH",
            "value": ""
        },
        {
            "name": "MODEL_NAME",
            "value": "{{ experiment_name }}-model"
        },
        {
            "name": "RUN_ID",
            "value": ""
        }
    ]
